
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Bienvenido al intercambio
      p
        strong Bienvenido a la intercambio de este a単o 2015: 
        | Recordemos que siempre en estas fechas hacemos este intercambio para preservar mas que nada nuestra tradiciones como familia
        br
        |A travez de ellas, recordamos con alegria a quienes nos acompa単an desde el cielo y nos las inculcaron, tambien aprovechamos a quienes estan con nosotros aqui y no menos importante a las generaciones que nos preceden. 
      h2.h2 Asi que en pos de las tradiciones, se GENEROS@ en el regalo y no me refiero al dinero si no a buscar muy bien el regalo poniendo empe単o y por que no un extra, insisto no en dinero ( bueno si puedes 多por que no?), pero tal vez querer sorprender al tu amigo secreto, seria un regalo con IVA.
      
      Cuando termine el sorteo tendras un correo con tu amigo secreto y tambien una lista de sugerencias que es lo que le gustaria, igualmente son ideas y no siempre se puede hay quienes son dificiles cof cof (MAX) que piden cosas medio raras cof cof (MAX). 
      NAAAA te creas MAX :P. 